body {
    font-family: 'Courier New', Courier, monospace;
}

td {
    vertical-align: top;
}

li {
    padding-top: 5px;
    padding-bottom: 10px;
}

.count {
    color: #f52664;
    font-weight: 800;
}

.date {
    color: #127e81;
    font-weight: 600;
}

.time {
    color: #6365ec;
}

.vl {
    position: relative;
    border: 1px solid #7274d6;
    background-color: #7274d6;
    border-radius: 1px;
    top: 5vw;
    bottom: 5vw;
}

#div-ul {
    width: 45vw;
}

#div-names {
    border-left: 1px solid #7274d6;
    white-space: pre;
    padding-left: 5vw;
    color: #127e81;
    font-weight: 600;
    line-height: 25px;
}